.searchArea {
    background-color: #e6f2ff;
    padding: 20px;
}

.uvindex {
    padding: 5px;
}

.daySize {
    box-sizing: border-box;
    width: 20%;
    margin: 5px;
    padding: 5px;
    
}

.daySize:first-child {
    margin-left: 0px;
}

.daySize:last-child{
    margin-right: 0px;
}

.fiveDay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
}

#searchBtn{
    padding: 6px 5px 0px 5px;

}